In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
!pwd

/d/CodeSpace/JupyterPath/Py3dataScience

In [3]:
!ls /d/CodeSpace/JupyterPath/Py3dataScience/DataSource/

movie_metadata.csv

### 0- 数据集介绍

>这是一个几千部电影的信息。对于电影的属性，比如是否是彩色的，导演，长度，国家，mdb的分数等。

读取数据产生一个dataframe

In [4]:
imdb = pd.read_csv('./DataSource/movie_metadata.csv',low_memory=False)

>这里的low_memory是为了解决警告

```
DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
```

In [5]:
imdb.shape

(5043, 28)

In [6]:
imdb.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

>使用head方法查看前五行。观察数据。

In [7]:
imdb.tail()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
5038,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
5039,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
5040,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
5041,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
5042,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

>使用tail()方法，返回后五行数据

- 可选参数如`tail(10)`返回后十行

In [8]:
imdb['color']

0                  Color
1                  Color
2                  Color
3                  Color
4                    NaN
5                  Color
6                  Color
7                  Color
8                  Color
9                  Color
10                 Color
11                 Color
12                 Color
13                 Color
14                 Color
15                 Color
16                 Color
17                 Color
18                 Color
19                 Color
20                 Color
21                 Color
22                 Color
23                 Color
24                 Color
25                 Color
26                 Color
27                 Color
28                 Color
29                 Color
              ...
5013               Color
5014               Color
5015     Black and White
5016               Color
5017               Color
5018               Color
5019               Color
5020                 NaN
5021               Color
5022     Black and White
5023               Color
5024               Color
5025               Color
5026               Color
5027               Color
5028     Black and White
5029               Color
5030               Color
5031               Color
5032               Color
5033               Color
5034               Color
5035               Color
5036               Color
5037               Color
5038               Color
5039               Color
5040               Color
5041               Color
5042               Color
Name: color, Length: 5043, dtype: object

>取dataframe的某一列，会返回一个Series

- 既然是series就会有自己的方法，比如看某一个。

In [9]:
imdb['color'][5028]

' Black and White'

我们想查看多个列的数据。如颜色和导演姓名。

```python
imdb[['color','director_name']]
```

>这样会生成一个新的dataframe

In [10]:
imdb[['color','director_name']]

                 color       director_name
0                Color       James Cameron
1                Color      Gore Verbinski
2                Color          Sam Mendes
3                Color   Christopher Nolan
4                  NaN         Doug Walker
5                Color      Andrew Stanton
6                Color           Sam Raimi
7                Color        Nathan Greno
8                Color         Joss Whedon
9                Color         David Yates
10               Color         Zack Snyder
11               Color        Bryan Singer
12               Color        Marc Forster
13               Color      Gore Verbinski
14               Color      Gore Verbinski
15               Color         Zack Snyder
16               Color      Andrew Adamson
17               Color         Joss Whedon
18               Color        Rob Marshall
19               Color    Barry Sonnenfeld
20               Color       Peter Jackson
21               Color           Marc Webb
22               Color        Ridley Scott
23               Color       Peter Jackson
24               Color         Chris Weitz
25               Color       Peter Jackson
26               Color       James Cameron
27               Color       Anthony Russo
28               Color          Peter Berg
29               Color     Colin Trevorrow
...                ...                 ...
5013             Color          Eric Eason
5014             Color            Uwe Boll
5015   Black and White   Richard Linklater
5016             Color     Joseph Mazzella
5017             Color        Travis Legge
5018             Color       Alex Kendrick
5019             Color       Marcus Nispel
5020               NaN     Brandon Landers
5021             Color         Jay Duplass
5022   Black and White          Jim Chuchu
5023             Color          Daryl Wein
5024             Color         Jason Trost
5025             Color         John Waters
5026             Color     Olivier Assayas
5027             Color        Jafar Panahi
5028   Black and White       Ivan Kavanagh
5029             Color    Kiyoshi Kurosawa
5030             Color        Tadeo Garcia
5031             Color  Thomas L. Phillips
5032             Color     Ash Baron-Cohen
5033             Color       Shane Carruth
5034             Color    Neill Dela Llana
5035             Color    Robert Rodriguez
5036             Color     Anthony Vallone
5037             Color        Edward Burns
5038             Color         Scott Smith
5039             Color                 NaN
5040             Color    Benjamin Roberds
5041             Color         Daniel Hsia
5042             Color            Jon Gunn

[5043 rows x 2 columns]

In [11]:
sub_df = imdb[['director_name','movie_title','imdb_score']]

>只选取其中的几列生成新的dataframe

In [12]:
sub_df.head(2)

    director_name                                movie_title  imdb_score
0   James Cameron                                    Avatar          7.9
1  Gore Verbinski  Pirates of the Caribbean: At World's End          7.1

### 查看中间的某几行到某几行的数据。

`sub_df.iloc[10:20,:]`

>对于行取10到19行，列并不做过滤:也就是显示所有列。

In [13]:
sub_df.iloc[10:20,:]

       director_name                                   movie_title  imdb_score
10       Zack Snyder           Batman v Superman: Dawn of Justice          6.9
11      Bryan Singer                             Superman Returns          6.1
12      Marc Forster                            Quantum of Solace          6.7
13    Gore Verbinski   Pirates of the Caribbean: Dead Man's Chest          7.3
14    Gore Verbinski                              The Lone Ranger          6.5
15       Zack Snyder                                 Man of Steel          7.2
16    Andrew Adamson     The Chronicles of Narnia: Prince Caspian          6.6
17       Joss Whedon                                 The Avengers          8.1
18      Rob Marshall  Pirates of the Caribbean: On Stranger Tides          6.7
19  Barry Sonnenfeld                               Men in Black 3          6.8

iloc函数除过过滤行:

- 当然也可以过滤列。也是通过列的index来过滤的。我们看到的名字其实是列的label，而不是列的index。

```
sub_df.iloc[10:20,0:2]
```

>对于行取10到19行，列并取第0到1列。

In [14]:
sub_df.iloc[10:20,0:2]

       director_name                                   movie_title
10       Zack Snyder           Batman v Superman: Dawn of Justice
11      Bryan Singer                             Superman Returns
12      Marc Forster                            Quantum of Solace
13    Gore Verbinski   Pirates of the Caribbean: Dead Man's Chest
14    Gore Verbinski                              The Lone Ranger
15       Zack Snyder                                 Man of Steel
16    Andrew Adamson     The Chronicles of Narnia: Prince Caspian
17       Joss Whedon                                 The Avengers
18      Rob Marshall  Pirates of the Caribbean: On Stranger Tides
19  Barry Sonnenfeld                               Men in Black 3

它是通过index来实现的，所以与具体的label名是没有关系的。

In [15]:
tmp_df = sub_df.iloc[10:20,0:2]

In [16]:
tmp_df

       director_name                                   movie_title
10       Zack Snyder           Batman v Superman: Dawn of Justice
11      Bryan Singer                             Superman Returns
12      Marc Forster                            Quantum of Solace
13    Gore Verbinski   Pirates of the Caribbean: Dead Man's Chest
14    Gore Verbinski                              The Lone Ranger
15       Zack Snyder                                 Man of Steel
16    Andrew Adamson     The Chronicles of Narnia: Prince Caspian
17       Joss Whedon                                 The Avengers
18      Rob Marshall  Pirates of the Caribbean: On Stranger Tides
19  Barry Sonnenfeld                               Men in Black 3

In [17]:
tmp_df.iloc[2:4,:]

     director_name                                  movie_title
12    Marc Forster                           Quantum of Solace
13  Gore Verbinski  Pirates of the Caribbean: Dead Man's Chest

>可以看到: 这里的index并不是label的字面值，而是index值。

有时我们想要通过index去过滤，有时候我们是需要通过name(label值)去过滤的。

- 列数特别多， 我们想要通过我们的label值来过滤

>`iloc`不加`i`(index)的时候是通过label的name来定位的。

In [18]:
tmp_df.loc[15:17,:]

     director_name                                movie_title
15     Zack Snyder                              Man of Steel
16  Andrew Adamson  The Chronicles of Narnia: Prince Caspian
17     Joss Whedon                              The Avengers

>上面代码中的15到17不是index了，而是我们的label name

In [19]:
tmp_df.loc[15:17,:'director_name']

     director_name
15     Zack Snyder
16  Andrew Adamson
17     Joss Whedon

>从任意label直到director_name的列返回回来

### 总结

- iloc 是基于index的，这个index是隐藏的。
- loc 是基于我们可以看见的label的，这个label就是我们可以看到的。